<div class="form-group">
    <label for="name">Name</label>
    <input required type="text" value="<%=data.name%>"  name="name" id="name" class="form-control">

</div>
<div class="form-group">
    <label for="unID">University ID</label>
    <input required type="text" value="<%=data.unID%>"  name="unID" id="unID" class="form-control">

</div>

<div class="form-group">
    <label for="phone">Phone</label>
    <input required type="text" value="<%=data.phone%>" name="phone" id="phone" class="form-control">

</div>
    

<a href="/" class="btn btn-secondary">Cancle</a>
<button type="submit" class="btn btn-primary">Save</button>

