<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>إنشاء معلومات شخصية</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    <h1 class="mb-4">Add your Data</h1>
    <a href="/Data/new" class="btn btn-success">Add Data</a>
    </div>
    
   </body>
   </html>