<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>إنشاء</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-1"><%= data.name%></h1>
        <div class=" text-muted mb-2" ><%=data.unID%></div>
        <div class=" text-muted mb-2" ><%=data.phone%></div>
        <a href="/" class="btn btn-secondary">Cancle</a>
        <a href="/Data/edit/<%=data.id%>" class ="btn btn-info">Edit</a>

    

    </div>
    
    
</body>
</html>